<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MODELS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->

    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>


    <!--      Оформление  -->
    <!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->

    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">


</head>
<body>


<div class="container">
    <table class="table table-hover">
        <thead>

        <tr>
            <th>
                <form th:action="@{/models}"
                      method="get" class="form-horizontal">
                    <div style="margin-bottom: 14px; width: 25%" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-watcher"></i></span>
                        <button type="submit" class="btn btn-primary">Home Page
                        </button>
                    </div>
                </form>
            </th>
            <th>
                <form th:action="@{/models/zips}"
                      method="get" class="form-horizontal">
                    <div style="margin-bottom: 14px; width: 25%" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-watcher"></i></span>
                        <button type="submit" class="btn btn-primary">Zip Page
                        </button>
                    </div>
                </form>
            </th>
            <th>
                <form th:action="@{/models/good}"
                      method="get" target=»_blank» class="form-horizontal">
                    <div style="margin-bottom: 14px; width: 14%" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-watcher"></i></span>
                        <button type="submit" class="btn btn-primary">Good
                        </button>
                    </div>
                </form>
            </th>

            <th>
                <form th:action="@{/models/admin}"
                      method="get" target=»_blank» class="form-horizontal">
                    <div style="margin-bottom: 14px; width: 25%" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-watcher"></i></span>
                        <button type="submit" class="btn btn-primary">Admin Page
                        </button>
                    </div>
                </form>
            </th>
        </tr>


        <tr>
            <th>
                <form th:action="@{/models/modelPage}"
                      method="post" class="form-horizontal">
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-watcher"></i></span>
                        <input type="number" th:name="page" placeholder="page (*)" class="form-control"/>
                        <button type="submit" class="btn btn-primary">Page</button>
                    </div>
                </form>
            </th>

            <th>
                <form th:action="@{/models/search_name}"
                      method="post" class="form-horizontal">
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-watcher"></i></span>
                        <input type="text" th:name="word" placeholder="by name (*)" class="form-control"/>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </th>
        </tr>


        <!--        <tr>-->
        <!--            <th>-->
        <!--                <div class="be-wrapper">-->
        <!--                    <div class="container">-->
        <!--                        <h1>Pagination Plugin</h1>-->
        <!--                        <p>Anything you need. It's here!</p>-->
        <!--                        <div class="demo">-->
        <!--                            <div id="page">-->
        <!--                                <ul class="pagination"></ul>-->
        <!--                            </div>-->
        <!--                            <label id="info">Page information will be displayed here.</label>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </th>-->
        <!--        </tr>-->

    </table>
</div>


<div class="container">
    <table class="table table-hover">
        <thead>

        <span th:text="${'Всего моделей на странице ' + models.size()}"/>
        <br>

        <tr>
            <th>Preview</th>
            <th>ID</th>
            <th>Category</th>
            <th>modelName</th>
            <th>Действия</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="model : ${models}">
            <th>
                <img th:src="'data:image/png;base64,' + ${model.getPreviewBaseSFimg}" alt="None"
                     class="imagePreveiw"/>
            </th>
            <td th:text="${model.id}"/>
            <td th:text="${model.modelCategory}"/>
            <td th:text="${model.modelName}"/>
            <td class="Link">
                <a th:href="@{'/models/model-obj/' + ${model.id}}" target=»_blank» th:text="Просмотреть"/>
            </td>

        </tr>
        </tbody>

    </table>


</div>


<canvas id="canvas" width="1400" height="600"></canvas>
<script th:src="@{/js/scriptWARP.js}"></script>
<script th:src="@{/js/pagination.js}"></script>

<script>
    $(document).ready(function () {
        $('#page').Pagination({ // id to initial draw and use pagination
            size: 87, // size of list input
            pageShow: 5, // 5 page-item per page
            page: 0, // current page (default)
            limit: 10, // current limit show perpage (default)
        }, function (obj) { // callback function, you can use it to re-draw table or something
            $('#info').html('Current page: ' + obj.page);
        });
    });
</script>


</body>
</html>