body {
  /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab), fixed;*/
  /*background-size: 400% 400%;*/
  /*-webkit-animation: gradient 15s ease infinite;*/
  /*animation: gradient 15s ease infinite;*/
  /*height: 100vh;*/

  color: #fff;
  z-index: 0;
}

#stage {
  z-index: -10;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}




div {
  z-index: 10;
  background: rgba(126, 100, 100, 0.7);
}

th {
  text-align: center;
}

.table td {
  vertical-align: middle;
  word-break: break-all;
}

.myButtonHead{
  margin-left: auto;
  margin-right: auto;
}

/* -------------------------------------------------- */
.imagePreveiw {
  height: 250px;
  max-width: 450px; /*????*/
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px #000;

}
.imageFull {
  width: 1100px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 5px #000;
}

/* -------------------------------------------------- */
canvas {
  z-index: -10;
  position: fixed;
  top: 0;
}
/* --------------------кнопки------------------------------ */
.input-group {

}
/* -------------------------------------------------- */

.Link {
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 1em #a63ff3;
  link: white;
}

a {
  color: #fff;
  text-shadow: 1px 1px 2px #be23f1, 0 0 1em #a63ff3;
}

td {
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 1em #f11f1f;
  top: 50%;
  bottom: 50%;
  text-align: center;
  position: relative;
}

/* ------------------New background-------------------------------- */

/*@-webkit-keyframes gradient {*/
/*  0% {*/
/*    background-position: 0% 50%;*/
/*  }*/
/*  50% {*/
/*    background-position: 100% 50%;*/
/*  }*/
/*  100% {*/
/*    background-position: 0% 50%;*/
/*  }*/
/*}*/
/*@keyframes gradient {*/
/*  0% {*/
/*    background-position: 0% 50%;*/
/*  }*/
/*  50% {*/
/*    background-position: 100% 50%;*/
/*  }*/
/*  100% {*/
/*    background-position: 0% 50%;*/
/*  }*/
/*}*/
/* ---------------------------------------------------------------- */

/* ------------------Old background-------------------------------- */
/*svg {*/
/*  cursor: pointer;*/
/*  position: fixed; z-index: 0;*/
/*  left: 35%;*/
/*  right: 50%;*/
/*}*/
/*svg path {*/
/*  fill: none;*/
/*  stroke-linecap: round;*/
/*  -webkit-animation: go 1s linear infinite;*/
/*          animation: go 1s linear infinite;*/
/*}*/
/*@-webkit-keyframes go {*/
/*  0% {*/
/*    stroke-dashoffset: var(--offset);*/
/*  }*/
/*  100% {*/
/*    stroke-dashoffset: 0;*/
/*  }*/
/*}*/
/*@keyframes go {*/
/*  0% {*/
/*    stroke-dashoffset: var(--offset);*/
/*  }*/
/*  100% {*/
/*    stroke-dashoffset: 0;*/
/*  }*/
/*}*/
/* ----------------------------------------------------------------- */

/* ------------------progress bars-------------------------------- */
#myProgress {
  width: 100%;
  background-color: grey;
}
#myBar {
  width: 10%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}
#myTask{
  width: 100%;
  background-color: grey;
}
#myBarTask{
  font-size: 15pt;
  color: #09ea09;
  text-shadow: 1px 1px 2px black, 0 0 1em #a63ff3;
}
#myBar2{
  height: 35px;
}
.invisibleLoad {
  display: none;
}
/* --------------------------------------------------------------- */