<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MODELS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->

    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>


    <!--      Оформление  -->
    <!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->

    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">


</head>
<body>


<div class="container">
    <table class="table table-hover">
        <thead>

        <tr>
            <th>
                <form th:action="@{/models}"
                      method="get" class="form-horizontal">
                    <div style="margin-bottom: 14px; width: 25%" class="input-group myButtonHead">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <button type="submit" class="btn btn-primary">Home Page
                        </button>
                    </div>
                </form>
            </th>
            <th>
                <form th:action="@{/models/zipPage}"
                      method="get" target=»_blank» class="form-horizontal">
                    <div style="margin-bottom: 14px; width: 25%" class="input-group myButtonHead">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <button type="submit" class="btn btn-primary">Zip Page
                        </button>
                    </div>
                </form>
            </th>
            <th>
                <form th:action="@{/models/good}"
                      method="get" target=»_blank» class="form-horizontal myButtonHead">
                    <div style="margin-bottom: 14px; width: 14%" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <button type="submit" class="btn btn-primary">Test
                        </button>
                    </div>
                </form>
            </th>

            <th>
                <form th:action="@{/models/admin}"
                      method="get" target=»_blank» class="form-horizontal myButtonHead">
                    <div style="margin-bottom: 14px; width: 25%" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <button type="submit" class="btn btn-primary">Admin Page
                        </button>
                    </div>
                </form>
            </th>
        </tr>

    </table>

</div>

<div class="container">

    <form th:action="@{/models}"
          method="get" class="form-horizontal">
        <table class="table table-hover">

            <tr >
                <th>
                    <div style="margin-bottom: 0px; vertical-align: middle" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>


                        <select class="form-control" th:name="wordCategory" id="FormControlSelect">
                            <option type="text" th:value="${wordCategory != null} ? ${wordCategory}"
                                    th:text="${wordCategory != null} ? ${wordCategory}">Category
                            </option>
                            <option type="text" value="">All</option>
                            <option type="text" th:value="[Figure]">Figure</option>
                            <option type="text" th:value="[Pack]">Pack</option>
                            <option type="text" th:value="[OtherFDM]">OtherFDM</option>
                        </select>


                        <input type="text" th:value="${wordName != null} ? ${wordName}" th:name="wordName"
                               placeholder="by Name (*)" class="form-control"/>

                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </th>
                <th  th:with="var2 = ${allPage + 1}">
                    <span style="vertical-align: middle"  th:text="${'Всего страниц ' + var2}"/>
                </th>
            </tr>

        </table>

        <table class="table table-hover">
            <tr>

                <th th:each="pageNumber : ${pageNumbers}" th:with="var = ${pageNumber + 1}">
                    <button th:class="${pageNumber == currentPage}? 'btn btn-success' : 'btn btn-info'" type="submit"
                            th:name="page"
                            th:value=${pageNumber}
                            th:text= ${var}></a></button>
                </th>


            </tr>

        </table>
    </form>
</div>


<div class="container">
    <table class="table table-hover">
        <thead>

        <span th:text="${'Всего моделей на странице ' + models.size()}"/>
        <br>

        <tr>
            <th>Preview</th>
            <!--            <th>ID</th>-->
            <th>Category</th>
            <th>modelName</th>
            <th>Действия</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="model : ${models}">
            <th>
                <img th:src="'data:image/png;base64,' + ${model.compressPreview}" alt="None"
                     class="imagePreveiw"/>
            </th>
            <!--            <td th:text="${model.id}"/>-->
            <td th:text="${model.modelCategory}"/>
            <td th:text="${model.modelName}"/>
            <td class="Link">
                <a th:href="@{'/models/modelOBJ/' + ${model.id}}" target=»_blank» th:text="Просмотр"/>
            </td>

        </tr>
        </tbody>

    </table>


</div>


<div class="container">
    <form th:action="@{/models}"
          method="get" class="form-horizontal">

        <table class="table table-hover">
            <tr>
                <th th:each="pageNumber : ${pageNumbers}" th:with="var = ${pageNumber + 1}">
                    <button th:class="${pageNumber == currentPage}? 'btn btn-success' : 'btn btn-info'" type="submit"
                            th:name="page"
                            th:value=${pageNumber}
                            th:text= ${var}></a></button>
                </th>
            </tr>
        </table>

        <table class="table table-hover">
            <tr>
                <th>
                    <div style="margin-bottom: 0px; vertical-align: middle" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                        <select class="form-control" th:name="wordCategory" id="FormControlSelect">
                            <option type="text" th:value="${wordCategory != null} ? ${wordCategory}"
                                    th:text="${wordCategory != null} ? ${wordCategory}">Category
                            </option>
                            <option type="text" value="">All</option>
                            <option type="text" th:value="[Figure]">Figure</option>
                            <option type="text" th:value="[Pack]">Pack</option>
                            <option type="text" th:value="[OtherFDM]">OtherFDM</option>
                        </select>

                        <input type="text" th:value="${wordName != null} ? ${wordName}" th:name="wordName"
                               placeholder="by Name (*)" class="form-control"/>

                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </th>
                <th th:with="var2 = ${allPage + 1}">
                    <span style="vertical-align: middle" th:text="${'Всего страниц ' + var2}"/>
                </th>
            </tr>
        </table>

    </form>
</div>


<!--<canvas id="canvas" width="1400" height="600"></canvas>-->
<!--<script th:src="@{/js/scriptWARP.js}"></script>-->

<svg id="stage" width="1400" height="600"></svg>
<script src='https://unpkg.co/gsap@3/dist/gsap.min.js'></script>
<script th:src="@{/js/scriptRandom.js}"></script>

</body>
</html>